<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootRestClientsCheatsheetsApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="springboot-restclients-cheatsheets.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="it.chicio.springboot.restclients.cheatsheets.SpringBootRestClientsCheatsheetsApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>